<div class = "FAQ-Header container">
    <div class = "faq-title row pb-5 mb-5">
        <div class = "col-12">
            <h1 class = "title-mobile"><strong>FAQs </strong></h1>
        </div>
    </div>
    <div class = "row">
        <div class = "col-12 col-lg-4 pb-5 mb-5">
            <h4 class = "subtitle-mobile pb-3"><strong>How will I know if my ticket is successfully contested?</strong></h4><br>
            <p class= "description-mobile pb-3"> Our team will keep you informed every step of the way and will notify you if your ticket is successfully appealed.</p>
        </div>
        <div class = "col-12 col-lg-4 pb-5 mb-5">
            <h4 class = "subtitle-mobile pb-3"><strong>Does matter where I got my ticket?</strong></h4><br>
            <p class= "description-mobile pb-3">No it does not. Whether you got your ticket in Boston or San Francisco we&apos;ll work to make contest your ticket.</p>
        </div>
        <div class = "col-12 col-lg-4 pb-5 mb-5">
            <h4 class = "subtitle-mobile pb-3"><strong>Do I have to pay if my appeal isn&apos;t successful?</strong></h4><br>
            <p class= "description-mobile pb-3"> Absolutely Not. If we&apos;re not successful in contesting your ticket, there is no charge.
        </div>
        <div class = "col-12 col-lg-4 pb-5 mb-5">
            <h4 class = "subtitle-mobile pb-3"><strong>Is there a fee if I successfully contest my ticket?</strong></h4><br>
            <p class= "description-mobile"> We charge $10 for each ticket that is successfully contested, or half the ticket value if it&apos;s under $20. </p>
        </div>
        <div class = "col-12 col-lg-4 pb-5 mb-5">
            <h4 class = "subtitle-mobile pb-3"><strong>Do you help contest other types of tickets?</strong></h4><br>
            <p class= "description-mobile pb-3"> Currently we only work with parking tickets, but we&apos;ll soon be working to automate the process of contesting speeding (and other types of) tickets.</p>
        </div>
        <div class = "col-12 col-lg-4 pb-5 mb-5">
            <h4 class = "subtitle-mobile pb-3"><strong>What if I have additional questions?</strong></h4><br>
            <p class= "description-mobile pb-3">Our team is always available - you can reach us through our contact page or email us at info@appealyourticket.com.</p>
        </div>
    </div>
</div>