<% provide("Home") %>
<div class="homepage">
    <div class="homepage-2019">
        <section class="jumbotron jumbotron-fluid home-jumbotron jumbotron-mobile">
          <div class="container">
            <div class="row text-left">
                <div class="col-6 justify-content-center" id="jumbo-textbox">
                    <h1 class="homepage-text shadow-underscore jumbo-maintext title-larger-mobile">You can&apos;t go to the bar, so we bring the bar to you</h1>
                    <h5 class ="homepage-text pt-3 pb-3 subtitle-mobile" id ="jumbo-subtext">Enjoy a <i>"Dan Harrington"</i>: A "mixed-at-home" cocktail from drink kits made
                    by the best bar and restaurant mixologists in Boston. Just add booze.</h5>
                </div> 
            </div>
          </div>
        </section>
    </div>
</div>