<% provide("Home") %>
<div class="homepage">
    <div class="homepage-2019">
        <section class="jumbotron jumbotron-fluid jumbotron-mobile jumbotron-gradient">
          <div class="container">
            <div class="row text-left">
                <div class="col-6 justify-content-center" id="jumbo-textbox">
                    <h1 class="homepage-text shadow-underscore jumbo-maintext title-large title-larger-mobile">Automated Ticket Appeals</h1>
                    <h3 class ="homepage-text pt-3 pb-3 subtitle-mobile subtitle-large" id ="jumbo-subtext">Contesting a ticket can be tedious & annoying - Appeal Our Ticket&apos;s technology does it for you.</h5>
                    <%= link_to "Appeal a Ticket", faqs_path, class:"btn btn-light rounded-button pt-3 pb-3 pr-5 pl-5" %>
                </div> 
                <div class="col-6 justify-content-center" id="jumbo-textbox">
                  <%= image_tag "iphone_wire_app.png", class: "img-fluid", alt: "Appeal My Ticket Iphone App" %>
                </div>
            </div>
          </div>
        </section>
    </div>
</div>