<% provide("Home") %>
<div class="homepage">
    <div class="homepage-2019">
        <section class="jumbotron jumbotron-fluid home-jumbotron jumbotron-mobile">
          <div class="container">
            <div class="row text-left">
                <div class="col-6 justify-content-center" id="jumbo-textbox">
                    <h1 class="homepage-text shadow-underscore jumbo-maintext title-larger-mobile">Let Our Bot Appeal Your Parking Tickets</h1>
                    <h5 class ="homepage-text pt-3 pb-3 subtitle-mobile" id ="jumbo-subtext">Cities and Municipalities across the country make millions of dollars a year in parking tickets and the appeal process can be complex & tedious. Let us appeal them for you.</h5>
                </div> 
            </div>
          </div>
        </section>
    </div>
</div>