<h1>Appeal My Ticket</h1>

<p>Hi Support Staff, <%= @user_name %> requires support.</p>

<p>
Here is the issue the customer is experiencing:<br>
<%= @user_msg %>
</p><br>
<br>
<p>Note that the customer heard about Appeal My Ticket by the following:<br>
<%= @user_how %>
</p>
<p> You can respond back to <%= @user_email %></p>

