<% provide(:title, "Appeal A Ticket") %>
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="110286390897635"
        theme_color="#c850c0"
        logged_in_greeting="Hi There! Say something like 'Appeal my Ticket' to get started."
        logged_out_greeting="Hi There! What would you like to do?">
      </div>
<div class="contact-us">
    <section class = "jumbotron-gradient pt-5">
        <div class="container" id= "contact-form-scroll">
        <% states = us_states %>
            <h1 class = "form-color title-mobile">Fill out the form below and our team will get to work</h1>
            <div class="row">
                <div class="col-12 col-lg-8 pb-3">
                    <div class="form-block">
                        <%= render 'ticket_complaint_form' %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>