/* NAVBAR SPECIFIC CSS */
/* .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background:white;
    z-index: 9999;
}

.nav-link {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-right: 7px;
} */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.bring-front{
    z-index: 50;
}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  /* z-index: 50; */
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #fff;
  color: #4158d0;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
  /* margin-bottom: 50px; */
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #4158d0;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}


/* HOME PAGE CSS */
.homepage-text{
    color:white;
}

.jumbotron-gradient{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.title-large{
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.rounded-button{
  border-radius: 70px;
  font-size: 18px;
  color: #4158d0;
  font-weight: 600;
  /* height: 50px;
  width: 100%; */
}

.rounded-button:hover{
  color: #c850c0;
  transition: all 0.4s ease;
}
/* .wrapper ul li a:hover:after{
  transform: scaleY(1);
} */
/* .rounded-button:hover{
  color: #4158d0;
} */

/* FAQS Page */
.FAQ-Header{
  color: white;
}

/* APPEAL FORM FIELD */
.form-color{
  color: white;
}

/* For the autocomplete popup */
.pac-container{
  z-index: 10000 !important;
}

/* FLASH STYLING */
.flash-styling{
  padding-bottom: 0;
  margin-bottom: 0;
}

/* MOBILE SPECIFIC CSS */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .title-mobile{
        font-size: 60px;
    }
    .navbar-mobile{
      font-size: 55px !important;
    }
    .subtitle-mobile{
        font-size: 50px;
    }
    .description-mobile{
        font-size: 40px;
    }
    .fa-btn-mobile{
      /* size: 7em; */
      font-size: 4em;
    }
    .menu-btn{
      height: 4em;
      width: 4em;
    }
    .flash-styling{
      font-size: 40px;
    }
}