/* NAVBAR SPECIFIC CSS */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background:white;
    z-index: 9999;
}

.nav-link {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-right: 7px;
}


/* HOME PAGE CSS */
.homepage-text{
    color:white;
}



/* MOBILE SPECIFIC CSS */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .title-mobile{
        font-size: 60px;
    }
    .subtitle-mobile{
        font-size: 50px;
    }
    .description-mobile{
        font-size: 40px;
    }
}