<input type="checkbox" id="active">
<label for="active" class="menu-btn"><i class="fas fa-bars bring-front"></i></label>
<div class="wrapper">
    <ul class= "bring-front my-auto">
        <li><%= link_to "Home", root_path, class: "navbar-mobile"%></li>
        <li><%= link_to "Appeal A Ticket", new_ticket_complaint_path, class: "navbar-mobile"%></li>
        <li><%= link_to "FAQs", faqs_path, class: "navbar-mobile"%></li>
    </ul>
</div>